body {
  text-align: center;
}

h1 {
  color: #8a2be2;
}
hr {
  background-color: #0000ff;
  padding: 2px;
}

button {
  border-radius: 20px;
  margin: 10px 0;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 50%;
}

td {
  column-width: 120px;
}

form {
  position: relative;
  left: 40%;
}

p {
  font-style: italic;
}
