* {
  margin: 0;
  font-size: large;
}

body {
  background-color: yellow;
}

h1 {
  margin: 20px;
  font-size: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

p {
  align-self: center;
}

img {
  height: 200px;
  width: 320px;
}

.img__big--height {
  height: 250px;
  width: 250px;
}

.img__big--width {
  width: 250px;
  height: 150px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
